<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1><%= @restaurant.chef %></h1>
      <h2>is the chef of <%= @restaurant.name %></h2>
    </div>
  </div>
</div>
